<%= form_tag '/up' do  %>

  <div class="row">
    <div class="twelve columns">
      <%= text_field_tag :declaration, nil, :placeholder => 'What do you want to say?', :id => 'input-text' %>
    </div>
  </div>

  <div class="row">
    <div class="three columns">
      <%= label_tag :name, nil, :class => "right inline" %>
    </div>
    <div class="nine columns">
      <%= text_field_tag :name %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      Current Price To One Up: <%= number_to_currency(@up_money) %>
    </div>
  </div>

  <div class="row">
    <div class="twelve columns">
      <div class="row collapse">
        <div class="two mobile-one columns">
          <span class="prefix">$</span>
        </div>
        <div class="ten mobile-three columns">
          <%= number_field_tag :money %>
        </div>
        <%= hidden_field_tag 'token' %>
      </div>
  </div>

<!-- Saving this for ALPHA!  <div class="field">
    <%#= f.label :twitter_url %>
    <%#= f.text_field :twitter_url %>
  </div> -->

  <div class="row">
    <div class="six columns">
      <script src="https://button.stripe.com/v1/button.js" class="stripe-button" data-key="<%= STRIPE_PUB %>"></script>
    </div>
    <div class="six columns">
      <div class="actions">
        <%= submit_tag "One Up Them" %>
      </div>
    </div>
  </div>

<% end %>